# workflow name
name: update-social

# master branch on push, auto run
on:
  workflow_run:
    workflows: ["update-github-stat"]  # 指定第一个workflow的名称
    types:
      - completed

jobs:
  update-social:
    runs-on: ubuntu-latest
    steps:
      - name: update_social_readme
        uses: zylele/social-readme@master
        with:
          douban_name: znyalor
          file_path: source/about/index.md